@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

li {
  padding: 2px;
  list-style: none;
}

a {
  font-family: 'Raleway', sans-serif;
  position: relative;
  color: #F3EFE0;
  font-size: 1.3rem;
  text-decoration: none;
}

li a {
  display: block;
  height: 100%;
  width: 100%;
}

.header {
  padding: 1.5rem;
  background-color: #222222;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.Humlist {
  background-color: #222222;
}

.H_title {
display: flex;
align-items: center;
}

.H_menu {
  display: grid;
  place-items: center;
  grid-template-columns: 0.9fr 0.5fr 1fr 0.8fr;
}

.H_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: right;
}

@media screen and (max-width: 700px) {
  .header {
      grid-template-columns: 3fr 1fr 1fr;
  }
  
  .H_menu, .H_links, .Humlist{
      display: none;
      flex-direction: column;
  }

  .Humlist.active {
    display: flex;

  }

  .Hs_menu {
    padding: 20px;
  }

}

.HBGBTN {
display: flex;
justify-self: flex-end;
}

.trigger,
.trigger span {
display: inline-block;
transition: all .4s;
box-sizing: border-box;
}
.trigger {
position: relative;
width: 2.5rem;
height: 2.2rem;
background: none;
border: none;
appearance: none;
cursor: pointer;  
}
.trigger span {
position: absolute;
left: 0;
width: 100%;
height: 0.2rem;
background-color: #fff;
border-radius: 0.2rem;
}
.trigger span:nth-of-type(1) {
top: 0;
}
.trigger span:nth-of-type(2) {
top: 1rem;
}
.trigger span:nth-of-type(3) {
bottom: 0;
}
.trigger.active span:nth-of-type(1) {
transform: translateY(1rem) rotate(-45deg);
}
.trigger.active span:nth-of-type(2) {
opacity: 0;
}
.trigger.active span:nth-of-type(3) {
transform: translateY(-1rem) rotate(45deg);
}
 
.Humlist.active {
  animation: In .3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes In {
  0% {
    transform: translateY(-180px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
  40%,100% {
    opacity: 1;
  }
}

.Hs_links {
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Hs_menu li a:hover {
  background-color: #22A39F;
}

.wrapper2 {
  display: grid;
  background: linear-gradient(90deg, #0081C9, #5BC0F8);
}

.home {
  display: grid;
  grid-template-rows: 2fr 1fr 5fr;
  position: relative;
  height: 91.02vh;
  width: 95%;
  background-color: #FFFBF5;
  background-image: url("imgs/P1240203.JPG");
  background-color:rgba(255,255,255,0.19);
  background-blend-mode:lighten;
  background-size: 100% 100%;
  margin: 0 auto; 
}

.home h1 {
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  top: 30px;
  left: 15px;
}

.home p {
  font-size: 1.4em;
  overflow-wrap: break-word;
  position: absolute;
  left: 15px;
  right: 15px;
  color: #FAF8F1;
}

.info {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr 6fr;
  height:100vh; 
  width: 95%;
  margin: 0 auto;
  background-color: #FCFFE7;
}

h1 {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

.hobby {
  position: relative;
  display: grid;
  grid-template-rows: 130px 1fr;
  height:100vh;
  width: 95%;
  margin: 0 auto;
  background-image: linear-gradient(150deg, rgba(0, 90, 141, 1) 14%, rgba(46, 197, 228, 1) 60%, rgba(141, 240, 52, 1) 92%);
  background-size: 600% 600%;

  animation: AnimationName 20s ease infinite alternate;
}

.hobby img{
  position: relative;
  display: block;
  width: 85%;
  margin: 0 auto;
}

.contact {
  height: 100vh;
}

.wf-roundedmplus1c {
  font-family: "M PLUS Rounded 1c"; 
}

@keyframes AnimationName {
  0%{background-position:5% 5%}
  50%{background-position:50% 50%}
  100%{background-position:75% 75%}
}

